<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EntityPractica_otravez_.Properties.Settings.connStr"
            connectionString="Server=localhost;Port=3306;Database=world;Uid=root;Pwd=root;" />
    </connectionStrings>
</configuration>